datasets            # Often needed for specific HuggingFace model features or tokenizers
Flask
librosa             # For audio processing (like resampling)
pyaudio             # If you want to test microphone input directly in Python (optional for this app)
sentencepiece       # text tokenizer
soundfile           # For reading/writing audio files
torch
transformers        # For HuggingFace models